#toasts-messaje {
  position: fixed;
  z-index: 100;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  animation: fadein 0.5s;
}

.toast-content {
  width: 320px;
/*   height: 55px; */
/*   height: 95px; */
  border-radius: 5px;
  margin: 0.5rem;
  color: #ffffff;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  padding: 15px
}

.info {
  background-color: #2196f3;
}

.success {
  background-color: #4caf50;
}

.error {
  background-color: #ff5252;
}

.warning {
  background-color: #ffc107;
}

.toast-content>span {
  color: #ffffff;
  margin: 0 20px 0 0;
  font-size: 1.5rem;
}